.section-feedback{
    .container{
        @include flex(row, center, space-between);
        padding-left: 0;
    }
    margin-top: 150px;
    &-img{
        background-color: #EEF4FF;
        border-radius: 0px 100px 100px 0px;
        margin-right: 30px;
    }
}

.feedback{
    &__heading{
        font-weight: 600;
        font-size: 36px;
        line-height: 65px;
        color: #212121;
    }
    
    &__user{
        @include flex(row, center, space-between);
        width: 50%;
        &--info{
            &-heading{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color:#212121;
            }
            &-text{
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #747474;
            }
        }
    }
    
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        color: #212121;
        margin-bottom: 58px;
    }
    
    &__directions{
        .bx{
            font-size: 45px;
            color: #2D76F9;
            cursor: pointer;
        }
    }
}



// ================================
// Responsive 1070px
// ================================


@media only screen and (max-width: 1070px){
    .section-feedback{
        .container{
                    &-img{
            display: none;
        }
        }

    }
    
    .feedback{
        text-align: center;
        
        &__user{
            @include flex(row, center, space-between);
            width: 50%;
            margin: 0px auto;
            align-items: center;
            &--info{
                &-heading{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color:#212121;
                }
                &-text{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #747474;
                }
            }
        }
        
        &__text{
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #212121;
            margin-bottom: 58px;
        }
        
        &__directions{
            .bx{
                font-size: 45px;
                color: #2D76F9;
            }
        }
    }
}


// ================================
// Responsive 576px
// ================================


@media only screen and (max-width: 576px){
    .feedback{
        text-align: center;
        
        &__heading{
            font-weight: 600;
            font-size: 24px;
            line-height: 40px;
            color: #212121;
            text-align: left;
        }
        
        &__user{
            @include flex(row, center, space-between);
            width: 70%;
            margin: 0px;
            align-items: center;
            &--info{
                &-heading{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color:#212121;
                }
                &-text{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #747474;
                }
            }
        }
        
        &__text{
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #212121;
            margin-bottom: 58px;
            text-align: left;
        }
        
        &__directions{
            .bx{
                font-size: 45px;
                color: #2D76F9;
            }
        }
    }
}
