.section-notification{
    @include flex(row, center, space-between);
    &-img{
        background-color: #EEF4FF;
        border-radius: 100px 0px 0px 100px;
        width: 100%;
    }
    
    .container{
        .notification{
            &-heading{
                font-weight: 600;
                font-size: 36px;
                line-height: 65px;
                color: #212121;
                margin: 0;
                margin-bottom: 50px;
            }
            &-text{
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #747474;
                margin: 0;
            }
        }
    }
}


// ================================
// Responsive 1070px
// ================================


@media only screen and (max-width: 1070px){
    .section-notification{
        display:flex;
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        &-img{
            width: 100%;
            border-radius: 0px 0px 0px 0px;
            margin-bottom: 50px;
        }
    }
}


// ================================
// Responsive 910px
// ================================


@media only screen and (max-width: 910px){
    .notification{
        text-align: center;
    }
}


// ================================
// Responsive 576px
// ================================


@media only screen and (max-width: 576px){

    .notification{
        text-align: left;
    }
    .notification-text{
        margin: 0;
        font-size: 17px;
    }
    .notification-heading{
        font-size: 24px;
        line-height: 40;
        margin-bottom: 25px;
    }
}
